html {
  font-family: "Roboto", sans-serif;
}
body {
  margin: 0;
}
.box {
  width: 200px;
  height: 300px;
  background-color: #ffa400;
  color: black;
  border-color: yellow;
  padding: 10px;
  margin: 15px;
  border-radius: 4px;
  text-align: center;
}
.cart {
  max-width: 500px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.img {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
      to right bottom,
      rgba(255, 0, 119, 0.671),
      rgba(10, 145, 71, 0.719)
    ),
    url(https://images.unsplash.com/photo-1653624840011-5f74bdd7c1b9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1333&q=80)
      no-repeat center right / cover;
}
.img1 {
  /* margin: 0 auto; */
  text-align: center;
}
img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  object-position: top;
  margin: 0 auto;
  border-radius: 50%;
  display: inline-block;
}
.box-gardient {
  width: 100%;
  height: 280px;
  background: linear-gradient(to right, #ff0000, blue);
}
.title {
  font-weight: bold;
  font-size: 30px;
  background-image: linear-gradient(to right bottom, #ff0000, blue);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
